# Database (PostgreSQL native — tanpa Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cplf?schema=public"

# Server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# JWT
JWT_SECRET=ganti-dengan-string-panjang-di-prod
JWT_ACCESS_TTL=15m
JWT_REFRESH_DAYS=7

# File uploads (dev: disk lokal)
UPLOAD_DIR=./uploads
PUBLIC_API_URL=http://localhost:4000/api/v1

# Redis (untuk modul worker nanti)
REDIS_URL=redis://localhost:6379
